<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>File Sharing System - Password</title>
  </head>
  <body>
    <% if (locals.error) { %>
    <div>
      <span class="error">Wrong password</span>
    </div>
    <% } %>
    <form method="post">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Download</button>
    </form>
  </body>
</html>
