*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: sans-serif;
}

body {
  overflow: hidden;
}

.title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 10;
}

.subtitle {
  margin-top: 0.5rem;
}

.bird {
  --bird-size: 60px;
  --bird-top: -100;
  
  background-image: url("./media/bird.png");
  background-size: var(--bird-size);
  background-position: center;
  background-repeat: no-repeat;
  width: var(--bird-size);
  height: var(--bird-size);
  position: absolute;
  left: var(--bird-size);
  top: calc(var(--bird-top) * 1px);
  border-radius: 50%;
}

.pipe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(var(--pipe-width) * 1px);
  left: calc(var(--pipe-left) * 1px);
}

.pipe > .segment {
  position: absolute;
  width: 100%;
  background-color: hsl(100, 75%, 50%);
}

.pipe > .top {
  top: 0;
  bottom: calc(var(--hole-top) * 1px);
}

.pipe > .bottom {
  bottom: 0;
  top: calc(100vh - (var(--hole-top) * 1px) + calc(var(--hole-height) * 1px));
}

.hide {
  display: none;
}